main h2 {
  padding: 0em 0.5em;
}

.cards-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cards-list ul {
  width: 100%;
  border-collapse: collapse;
}

.cards-list .main-controls {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 0.5em;
}

td.right {
  text-align: right;  
}

.action-btn {
  cursor: pointer;
  font-size: 1.2em;
}

.action-btn:hover {
  color: rgba(255,255,255, 0.65);
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

th, td {
  padding: 0.5rem 1rem 0.5rem;
  white-space: nowrap;
}
th {
  border-bottom: solid 1px #cccccc09;
}
td {
  border-top: solid 1px #e8e8e809;
  text-align: center;
}