.card.video .card-content {
  display: flex; 
  gap: 1em;
}

.card.video img {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card.video .preview {
  width: 100px;
}
