/* header nav ul {
  display: flex;
  gap: 1rem;
  background-color: #092f25;
  padding: 1em;
  border-radius: 3em;
  justify-content: center;
  align-items: center;

  li {
    list-style: none;
  }
} */

.center {
  display: flex;
  gap: 1rem;
  background-color: #092f25;
  padding: 0.6em;
  border-radius: 3em;
  justify-content: center;
  align-items: center;

}

.nav-link-active {
  background-color: white;
  padding: 0.5em;
  border-radius: 3em;
  color: black;
}

.nav-link-pending {
   background-color: #092f25;
}



/* .nav-link:active{
  padding: 0.5em;
  background-color: white;
  border-radius: 3em;
  color: black;
  cursor: default;

} */

header .admin-avatar img {
  width: auto;
  height: 2.5em;
  border-radius: 50%;
  overflow: hidden;
}

main {
  padding: 1em;
}