.center {
  display: flex;
  gap: 1rem;
  background-color: #092f25;
  padding: 0.6em;
  border-radius: 3em;
  justify-content: center;
  align-items: center;

}

.nav-link-active {
  background-color: white;
  padding: 0.5em;
  border-radius: 3em;
  color: black;
}

.nav-link {
  background-color: #092f25;
  padding: 0.5em;
}

header .admin-avatar img {
  width: auto;
  height: 2.5em;
  border-radius: 50%;
  overflow: hidden;
}

main {
  padding: 1em;
}