.card-editor-page {
  padding: 1em;
}



.card-editor-page input,textarea {
  border-style: none;
  background-color: var(--header-background);
  border-radius: 12px;
  padding: 0.5em;
  color: var(--foreground);
  margin-bottom: 1em;
  margin-top: 0.5em; 
  width: 100%;
}

.card-editor-page .action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.card-editor-page .preview {
  border: 1px solid #ccc;
  padding: 1em;
  height: 20em;
  overflow: auto;
}

.card-editor-page .dropzone {
  border: 2px dashed #ccc;
  border-radius: 2px;
  border-width: 2px;
  padding: 1em;
  text-align: center;
  margin: 1em;
  transition: border .24s ease-in-out
}

.card-editor-page .dropzone:hover {
  border-color: #aaa;
}

.card-editor-page .image-upload {
  display: flex;
  align-items: space-between;
  gap: 1em;
  align-items: center;
}

.card-editor-page .image-upload img {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 1em;  
}


.rsw-editor {
 margin: 0.5em;
 height: 13em;
 max-width:100%;
}

.container-action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3em;
}
