.info-card {
  background: var(--cards-backround);
  border-radius: 18px;
  padding: 1em 1em;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  backdrop-filter: blur(12px);  
  width: 18em;
  min-height: 14em;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start; 
}

.info-card.minimized {
  padding: 2em 1em;
  width: 15em;
  min-height: 5em;
  max-height: 5em;
  flex-direction: row;
  justify-content: space-between;
}

.info-card.minimized>h3 {
  flex: 1;
  font-size: 0.9em;
}

.info-card.micro {
  padding: 14px 12px;
  width: 150px;
  min-height: 40px;
  max-height: 40px;
  flex-direction: row;
  background: none;
  font-size: 0.9em;
}

.info-card.active {
  background: var(--cards-backround-active);
}

.info-card h3 {
  font-weight: 700;
  font-size: 1.1em;
  color: var(--cards-primary);
  letter-spacing: 0.5px;
}

.info-card img {
  max-width: 80%;
  height: auto;  
  margin-bottom: 1em;
}

.info-card.minimized img {
  max-width: 50px;
  height: 50px;
  margin-bottom: 0;
}