.info-card {
  background: var(--cards-backround);
  border-radius: 18px;
  padding: 1em 1em;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  backdrop-filter: blur(12px);  
  width: 18em;
  min-height: 14em;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  scroll-snap-align: start; 
}

.info-card.actionable {
  cursor: pointer;
}

.info-card.empty {
  background: color-mix(in srgb, var(--cards-backround) 50%, transparent)
}

.info-card.minimized {
  padding: 2em 1em;
  min-height: 5em;
  max-height: 5em;
  flex-direction: row;
  justify-content: space-between;
}

.info-card.minimized>.card-text h3 {
  flex: 1;
  font-size: 0.9em;
}

.info-card.minimized .card-text {
  width: 15em;
}

.info-card.micro {
  padding: 14px 12px;
  width: 150px;
  min-height: 40px;
  max-height: 40px;
  flex-direction: row;
  background: none;
  font-size: 0.9em;
  border-radius: 9px;
}

.info-card.active {
  background: var(--cards-backround-active);
}

.info-card.full .card-text {
  min-height: 2.5em;
}

.info-card h3 {
  font-weight: 700;
  font-size: 1.1em;
  color: var(--cards-primary);
  letter-spacing: 0.5px;
}

.info-card img {
  max-width: 90%;
  height: auto;  
  margin-bottom: 1em;
  border-radius: 0.5em;
}

.info-card.minimized img {
  max-width: 50px;
  height: 50px;
  margin-bottom: 0;
}