.developers-page .developers-span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.developers-page .team-grid {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  padding: 1em;
  flex-wrap: wrap;
  border-radius: 22px;
}

.developers-page .developer_stydent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  background-color: #9bb8af26;
  border-radius: 22px;
}

.developers-page .developer_stydent img{
  width: 150px;
  height: 150px;
}

.developers-page .developer_teachers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  font-size: 1.5em;
  padding: 2em;
  background-color: #9bb8af26;
  border-radius: 22px;
;
}

.developers-page .teachers-grid {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  padding: 1pc;
  margin: 1em;
  flex-wrap: wrap;
}

.developers-page h2 {
  padding-top: 1em;
  text-align: center;
}