.info-page {
  display: flex;
  flex-direction: column;
}

.info-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(18em, auto));
  gap: 1em;
  padding: 1em;
  flex: 1;
}

.info-cards.minimized {
  display: flex;
  gap: 16px;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  padding-left: 12px; /** To avoid cutting a shadow */
  scroll-snap-type: x mandatory;
  scroll-padding-left: 12px;
  justify-content: left;
  background-color: var(--sub-menu-background);
}

.info-cards.partially-filled {
  justify-content: start;
}

.active-info {
  position: relative;
  padding: 0em 2em;
}

.active-info section {
  padding: 0.5em 2em;
}

.active-info section h1,.active-info section h2 {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  margin-bottom: 0.8em;
}

.active-info hr {
  margin: 1em auto;
  width: 60%;
}

.active-info .close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.active-info table {
  margin: 1em auto;
  border-collapse: collapse;
}

.active-info table td {
  padding: 0.5em;
  border-bottom: 1px solid rgba(88, 88, 88, 0.25)
}