
.news-page {
  padding: 1em;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em;
  padding: 2em;
  justify-content: center;
  align-items: center;
  background-color: #9bb8af26;
  border-radius: 20px;
  font-size: 1.2em;
}

.article img {
  float: left;
  border-radius: 35px;
  padding: 1em;
  margin: 0 1.2em 0 0 ;
}

.news-h1 {
  text-align: center;
}

.news-h1 h1 {
  font-size: 1.5em;
}

.news-content {
  /* display: flex; */
  align-items: center;
  max-width: 100%;
  gap: 2em;
}