.faculties {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  gap: 32px;
  padding-top: 1em;
}

.faculties.minimized {
  display: flex;
  gap: 16px;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  padding-left: 12px; /** To avoid cutting a shadow */
  padding-bottom: 18px; /** To avoid cutting a shadow */  
  scroll-snap-type: x mandatory;
}

.courses {
  display: flex;
  gap: 16px;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  padding-left: 12px; /** To avoid cutting a shadow */
  scroll-snap-type: x mandatory;
  justify-content: center;
}

.groups-schedule {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.groups {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
}