@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

:root {
  --background: #092f25;
  --foreground: rgba(255,255,255, 0.85);
  --header-background: rgba(155,184,175,0.15);
  --footer-background: #333;
  --footer-foreground: var(--foreground);
  --cards-primary: #5ed96b;
  --cards-backround: rgba(155,184,175,0.15);
  --cards-backround-active: rgba(155,184,175,0.6);
  --main-btn-background: #018804;
  --main-btn-background-active: #005b02;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Golos Text', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;  
  padding: 1em;
  background-color: var(--header-background);
}

header .left {
  justify-self: start;
}

header .center {
  justify-self: center;
}

header .right {
  justify-self: right;
}

header img {
  width: 32px;
  height: 32px;
}

footer {
  background-color: var(--footer-background);
  color: var(--footer-foreground);
  display: flex;
  justify-content: space-between;
  padding: 1em 0.5em;
}

footer .fa-heart {
  color: #e93232;
}

.svg-inline--fa {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main>div>h1 {
  padding: 1em;
  display: flex;
  justify-content: center;
}

.site-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}